body {
    text-align: center;
    font-size: 20pt;
}

.forms {
    font-size: 25pt;
}

button.button {
    font-size: 1.2em;
}

.description {
    font-size: 15pt;
    padding-left: 350px;
    text-align: left;
    max-width: 900px;
  }
