<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>N-Back Task Light</title>
    <link rel="stylesheet" href="/static/style-try.css">
</head>
<body>
  <div>
    {% if session["times"] %}
    あと{{session["times"]}}問
    {% else %}
    <br>
    {% endif %}
  </div>

<div>
{% if result %}
  {{result}}<br>
{% else %}
  <br>
{% endif %}
</div><br>

<div class="resnum">
  {{resnum | safe}}
</div>
<br>

<div>
    <form method="get" action="/Try">
      {% if session["back"] %}
        <input type="submit" name="next", value="次へ">

      {% else %}
        {% for i in session["mode"][:3] %}
        <input type="submit" name="sn" value={{i}}>
        {% endfor %}
        <br>
        {% for i in session["mode"][3:6] %}
        <input type="submit" name="sn" value={{i}}>
        {% endfor %}
        <br>
        {% for i in session["mode"][6:9] %}
        <input type="submit" name="sn" value={{i}}>
        {% endfor %}
        <br>

      {% endif %}
      <br><br>
      <a href="/">TOP</a>
    </form>
</div>
</body>
</html>
